src/main/resources/DCS_Import.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:simpleType name="language">
        <xs:annotation>
            <xs:documentation>The supported languages of the DHL Finder. Occurrence: parcelLocation/welcomeTexts/welcomeText/language, parcelLocation/primaryLanguage, parcelLocation/secondaryLanguage, parcelLocation/tertiaryLanguage</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="2" />
            <xs:enumeration value="bg">
                <xs:annotation>
                    <xs:documentation>bulgarian</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="cs">
                <xs:annotation>
                    <xs:documentation>czech</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="da">
                <xs:annotation>
                    <xs:documentation>danish</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="de">
                <xs:annotation>
                    <xs:documentation>german</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="el">
                <xs:annotation>
                    <xs:documentation>greek</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="en">
                <xs:annotation>
                    <xs:documentation>english</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="es">
                <xs:annotation>
                    <xs:documentation>spanish</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="et">
                <xs:annotation>
                    <xs:documentation>estonian</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="fi">
                <xs:annotation>
                    <xs:documentation>finnish</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="fr">
                <xs:annotation>
                    <xs:documentation>french</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ga">
                <xs:annotation>
                    <xs:documentation>irish</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="hr">
                <xs:annotation>
                    <xs:documentation>croatian</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="hu">
                <xs:annotation>
                    <xs:documentation>hungarian</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="it">
                <xs:annotation>
                    <xs:documentation>italian</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="lt">
                <xs:annotation>
                    <xs:documentation>lithuanian</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="lv">
                <xs:annotation>
                    <xs:documentation>latvian</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="mt">
                <xs:annotation>
                    <xs:documentation>maltese</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="nl">
                <xs:annotation>
                    <xs:documentation>dutch</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="no">
                <xs:annotation>
                    <xs:documentation>norwegian</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="pl">
                <xs:annotation>
                    <xs:documentation>polish</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="pt">
                <xs:annotation>
                    <xs:documentation>portuguese</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ro">
                <xs:annotation>
                    <xs:documentation>romanian</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="sk">
                <xs:annotation>
                    <xs:documentation>slovak</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="sl">
                <xs:annotation>
                    <xs:documentation>slovene</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="sv">
                <xs:annotation>
                    <xs:documentation>swedish</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="shopType">
        <xs:annotation>
            <xs:documentation>The type of the parcelLocation (e.g. DHL Parcel Shop, Packstation, Postoffice). Occurrence: parcelLocation/shopType</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="16" />
            <xs:enumeration value="parcelShop">
                <xs:annotation>
                    <xs:documentation>DHL Parcel Shop</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="relaisColis">
                <xs:annotation>
                    <xs:documentation>Relais Colis</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="packStation">
                <xs:annotation>
                    <xs:documentation>Packstation</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="kariboo">
                <xs:annotation>
                    <xs:documentation>Kariboo</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="paketShop">
                <xs:annotation>
                    <xs:documentation>DHL Paketshop</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="postOffice">
                <xs:annotation>
                    <xs:documentation>Post Office</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="paketBox">
                <xs:annotation>
                    <xs:documentation>Paketbox</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="pointOfSale">
                <xs:annotation>
                    <xs:documentation>Point of Sale</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="postBank">
                <xs:annotation>
                    <xs:documentation>Postbank</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="parcelStation">
                <xs:annotation>
                    <xs:documentation>Parcelstation</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="partnerType">
        <xs:annotation>
            <xs:documentation>The type of the partner (e.g. intern, external). Occurrence: parcelLocation/partnerType</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="16" />
            <xs:enumeration value="intern">
                <xs:annotation>
                    <xs:documentation>internal partner</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="external">
                <xs:annotation>
                    <xs:documentation>external partner</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="categoryType">
        <xs:annotation>
            <xs:documentation>Describes the content of the pictures of a parcelLocation</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="16" />
            <xs:enumeration value="shopowner">
                <xs:annotation>
                    <xs:documentation>Picture of the shop owner</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="shopview">
                <xs:annotation>
                    <xs:documentation>Picture of the view of the shop</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="schemaVersion">
        <xs:annotation>
            <xs:documentation>The Version of the schema. Occurrence: only here</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="1.9" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="validSchemaVersions">
        <xs:annotation>
            <xs:documentation>The pattern for valid schemaVersions. Occurrence: header/schemaVersion</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,2}\.[0-9]{1,2}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="service">
        <xs:annotation>
            <xs:documentation>Available services in the parcelLocations. Occurrence: parcelLocation/services</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="40" />
            <xs:enumeration value="ageVerification">
                <xs:annotation>
                    <xs:documentation>The location offers an age verification which may be required for certain products.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="cashService">
                <xs:annotation>
                    <xs:documentation>The location offers cash service, based on local service portfolio.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="COD">
                <xs:annotation>
                    <xs:documentation>The location offers COD (Cash on Delivery) service incl. parcel hand out to customers and collection of COD payment.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NPS">
                <xs:annotation>
                    <xs:documentation>The location sells regular DHL Parcel labels (excluding DHL Express).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="EPS">
                <xs:annotation>
                    <xs:documentation>The location sells Express (EXP) parcels.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="directDeliveryByDHLExpress">
                <xs:annotation>
                    <xs:documentation>DHL Express shipments can be directly addressed to this shop. Only applicable for joint eCS (parcel) and Express shops.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="franking">
                <xs:annotation>
                    <xs:documentation>The location sells regular DHL Parcel labels (excluding DHL Express).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="handicappedAccess">
                <xs:annotation>
                    <xs:documentation>The location is accessible for handicapped people.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="packingMaterial">
                <xs:annotation>
                    <xs:documentation>The location sells packaging material like boxes, pens etc.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="parcelacceptance">
                <xs:annotation>
                    <xs:documentation>The location accepts DHL parcels handed in by a customer.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="parcelpickup">
                <xs:annotation>
                    <xs:documentation>The location can be used for direct addressing as primary delivery.  This service is only to be used for Direct Addressing, no other LastMile Service.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="parking">
                <xs:annotation>
                    <xs:documentation>The location has a parking area nearby.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="pickupByDHLExpress">
                <xs:annotation>
                    <xs:documentation>The location accepts pre-labelled DHL Express parcels handed in by a customer. Only applicable for joint eCS (parcel) and Express shops.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="postident">
                <xs:annotation>
                    <xs:documentation>The location offers the personal identification service (postident) from Deutsche Post AG. Only available in DE.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PINService">
                <xs:annotation>
                    <xs:documentation>A PIN is required from the customer in order to pickup a parcel.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="parcelcollection">
                <xs:annotation>
                    <xs:documentation>The location can be used for LastMile services (except direct addressing), e.g. re-routing or not@home. If a location offers direct addressing as well, both &lt;parcelpickup&gt; &amp; &lt;parcelcollection&gt; to be sent.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="rerouting">
                <xs:annotation>
                    <xs:documentation>The location can be selected as an alternative drop-off location by a customer who wants to re-route a doorstep parcel.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="weekday">
        <xs:annotation>
            <xs:documentation>A token for the weekday. Occurrence: parcelLocation/timeinfos/timeinfo/weekday</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="1" />
            <xs:enumeration value="1">
                <xs:annotation>
                    <xs:documentation>monday</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="2">
                <xs:annotation>
                    <xs:documentation>tuesday</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="3">
                <xs:annotation>
                    <xs:documentation>wednesday</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="4">
                <xs:annotation>
                    <xs:documentation>thursday</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="5">
                <xs:annotation>
                    <xs:documentation>friday</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="6">
                <xs:annotation>
                    <xs:documentation>saturday</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="7">
                <xs:annotation>
                    <xs:documentation>sunday</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="systemID">
        <xs:annotation>
            <xs:documentation>ID of the delivery system; the value is automatically overwritten by DHL Finder</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:token">
            <xs:pattern value="[a-zA-Z0-9]{1,4}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="timeInfoType">
        <xs:annotation>
            <xs:documentation>The type of the specified timeinfo. Occurrence: parcelLocation/timeinfos/timeinfo/type</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="openinghour">
                <xs:annotation>
                    <xs:documentation>The opening hours of the parcelLocation.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="closuretime1">
                <xs:annotation>
                    <xs:documentation>Dispatch deadline for letter mail. If letters are dropped off before this deadline, the processing of the letter will start the same day.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="closuretime2">
                <xs:annotation>
                    <xs:documentation>Dispatch deadline for DHL parcels. If parcels are dropped off before this deadline, the processing of the parcel will start the same day.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="closuretime3">
                <xs:annotation>
                    <xs:documentation>Dispatch deadline for DHL Express national. If parcels are dropped off before this deadline, the processing of the parcel will start the same day.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="closuretime4">
                <xs:annotation>
                    <xs:documentation>Dispatch deadline for DHL Express international. If parcels are dropped off before this deadline, the processing of the parcel will start the same day.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="closurePeriodType">
        <xs:annotation>
            <xs:documentation>The type of a closure period. Occurrence: parcelLocation/closurePeriod/type</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="holiday">
                <xs:annotation>
                    <xs:documentation>The location is temporarily closed. Requires a value for 'from' and 'to'.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="outOfService">
                <xs:annotation>
                    <xs:documentation>The location is closed permanently and will not open again. Only requires a value for 'from'.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="timeformat24">
        <xs:annotation>
            <xs:documentation>The format for timestamps</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:token">
            <xs:pattern value="(([01][0-9]|2[0-3]):[0-5][0-9])|(24:00)" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="fileName">
        <xs:annotation>
            <xs:documentation>The format for the filename</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:token">
            <xs:maxLength value="28" />
            <xs:minLength value="23" />
            <xs:pattern value="(\d+)_20[1234][0-9]((0[1-9])|(1[0-2]))((0[1-9])|([1-2][0-9])|(3[0-1]))_psfimport\.xml" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="latitude">
        <xs:annotation>
            <xs:documentation>Valid values for latitude: 14 to 79.999 (decimal)</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:pattern value="(1[4-9]|[2-6][0-9]|7[0-9])(\.[0-9]{1,10})?" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="longitude">
        <xs:annotation>
            <xs:documentation>Valid values for longitude: -30 to 49.99 (decimal)</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:pattern value="(-[1-2][0-9]|-[0-9]|[0-9]|[1-4][0-9])(\.[0-9]{1,10})?" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="addressFormat">
        <xs:annotation>
            <xs:documentation>
                Set the format for displaying an address.
                The number of the address element separated with s (whitespace) or n (newline), e.g.:
                - a DE Parcel Shop has format1: csbnan7s8n2s3 and format2: csbn2s3n1.
                - a Parcel Europe Parcelshop has format1: csbnan7s8n2s3 and format2: csbn7s8n2s3n1.
                Possible values are:
                1 = Two digit country code (ISO 3166-1)
                2 = Zip code
                3 = City
                4 = District
                5 = Additional Info
                6 = Area
                7 = Street
                8 = House number
                9 = Additional street
                a = shopName (e.g. „McDonalds“)
                b = primaryKeyZipRegion (e.g. „101“)
                c = keyWord (e.g. “DHL Parcelshop”)
                d = /
                s = whitespace
                n = newline
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:token">
            <xs:pattern value="[0-9abcdsn]*" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="patternPicture">
        <xs:annotation>
            <xs:documentation>The format for the path for the picture files.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:token">
            <xs:maxLength value="180" />
            <xs:pattern value="https://goo.gl/maps/.*" />
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="complexTypeFiles">
        <xs:annotation>
            <xs:documentation>Files belonging to a parcelLocation. Occurrence: parcelLocation/files</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="category" type="categoryType" />
            <xs:element name="path" type="patternPicture">
                <xs:annotation>
                    <xs:documentation>The path for the picture files. Provide a complete url beginning with http(s)://: No physical picture is necessary. The Parcelshopfinder will load the file from the given url.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="openingHours">
        <xs:annotation>
            <xs:documentation>Format for the daily opening hours. Multiple datasets for the same day are allowed.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="timefrom" type="timeformat24">
                <xs:annotation>
                    <xs:documentation>Time from, e.g.: 09:00</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="timeto" type="timeformat24">
                <xs:annotation>
                    <xs:documentation>Time to, e.g.: 20:00</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="weekday" type="weekday">
                <xs:annotation>
                    <xs:documentation>The day of the week, e.g.: 1 for monday; see type "weekday"</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="type" type="timeInfoType">
                <xs:annotation>
                    <xs:documentation>see type timeInfoType, e.g. openinghour</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="IDS">
        <xs:annotation>
            <xs:documentation>Identifiers used in the system. Occurrence: parcelLocation/identifyingKeys</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="primaryKeyDeliverySystem" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>The unique key in the delivery system</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:maxLength value="30" />
                        <xs:minLength value="1" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="primaryKeyZipRegion" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Primary key within a zip region. Character for format string: b</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:maxLength value="10" />
                        <xs:minLength value="1" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="systemID" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>ID of the delivery system; contact the administrator of the DHL Finder for the ID</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="systemID">
                        <xs:whiteSpace value="collapse" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="primaryKeyPSF" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>The unique key of the location generated by the DHL Finder: systemID + "-" + primaryKeyDeliverySystem. You can leave this field blank, the DHL Finder will calculate its content.</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:minLength value="4" />
                        <xs:maxLength value="35" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="welcomeTextType">
        <xs:annotation>
            <xs:documentation>Text elements in multiple languages. Occurrence: parcelLocation/welcomeTexts/welcomeText; Line breaks must be written as #br#; e.g.: Dear Customer,#br#here you can see ...</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="language" type="language" maxOccurs="1" />
            <xs:element name="content" minOccurs="1" maxOccurs="1">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="160" />
                        <xs:minLength value="1" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="complexTypeService">
        <xs:annotation>
            <xs:documentation>The supported services of the parcel shop. Occurrence: parcelLocation/services</xs:documentation>
        </xs:annotation>
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="service" type="service" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="otherInfoType">
        <xs:annotation>
            <xs:documentation>Other infos of the parcelshop. Occurrence: parcelLocation/otherInfos</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="type" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        The type of the otherInfo entry. Supported values are:
                         - packstation_utilization -> Average utilization value of the whole week (content type: int)
                         - packstation_utilization_mon -> Utilization value on mondays (content type: int)
                         - packstation_utilization_tue -> Utilization value on tuesdays (content type: int)
                         - packstation_utilization_wed -> Utilization value on wednesdays (content type: int)
                         - packstation_utilization_thu -> Utilization value on thursdays (content type: int)
                         - packstation_utilization_fri -> Utilization value on fridays (content type: int)
                         - packstation_utilization_sat -> Utilization value on saturdays (content type: int)
                         - packstation_utilization_sun -> Utilization value on sundays (content type: int)
                         - lean_locker -> Whether the locker is a lean locker (content type: int [0 or 1])

                        Utilization values are:
                         - 1 = very low
                         - 2 = low
                         - 3 = high

                        Example:
                        &lt;otherInfo&gt;
                            &lt;type&gt;packstation_utilization_wed&lt;/type&gt;
                            &lt;content&gt;3&lt;/content&gt;
                        &lt;/otherInfo&gt;

                        Other information can be stored here as well, as long as it adheres to the restrictions.
                        It will not be processed by other systems and the type names may change anytime.
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="[0-9a-zA-Z_\-]{1,25}" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="content" minOccurs="1" maxOccurs="1">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="160" />
                        <xs:minLength value="1" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="foreignKeyType">
        <xs:annotation>
            <xs:documentation>The foreign keys of other systems. Occurrence: parcelLocation/foreignKeys</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="scope" maxOccurs="1">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:pattern value="[0-9a-zA-Z_\-]{1,25}" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="content" minOccurs="1" maxOccurs="1">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="80" />
                        <xs:minLength value="1" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="geoPosition">
        <xs:annotation>
            <xs:documentation>The geo positon in decimal degrees. E.g.: lat=50.176; lng=7.1307 for Bonn, Germany</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="lat" type="latitude" minOccurs="1" />
            <xs:element name="lng" type="longitude" minOccurs="1" maxOccurs="1" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="header">
        <xs:annotation>
            <xs:documentation>The header of the file</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="systemID" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>ID of the delivery system; contact the administrator of the DHL Finder for the ID</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="systemID">
                        <xs:whiteSpace value="collapse" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="systemDesc" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Description of the delivery system</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="30" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="schemaVersion" type="validSchemaVersions" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Version number of the underlying schemaFile. Use the number of the simpleType "schemaVersion" here.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="fileDate" type="xs:dateTime" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Creation date of the file</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="fileName" type="fileName" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>The name of the xml file (e. g. : 8001_20150321_psfimport.xml</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="address">
        <xs:annotation>
            <xs:documentation>The address of the parcelLocation. For displaying the address, set the field format1. For label print use the field format2.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="countryCode" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Two digit country code (ISO 3166-1); character for format string: 1</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:pattern value="[a-z]{2,2}" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="zipCode" minOccurs="1">
                <xs:annotation>
                    <xs:documentation>Zip code; Character for format string: 2</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="10" />
                        <xs:minLength value="1" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="city" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>City; character for format string: 3</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="35" />
                        <xs:minLength value="1" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="district" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>District; Character for format string: 4</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="40" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="additionalInfo" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Additional info to add address detail, e.g. “Inside supermarket xyz” or “Gas station”. This information is shown in the frontend on dhl.com; Character for format string: 5</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="40" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="area" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Area; Character for format string: 6</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="40" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="street" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Street; Character for format string: 7</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="35" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="houseNo" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>House number; Character for format string: 8</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="10" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="additionalStreet" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Additional street; Character for format string: 9</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="40" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="format1" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        Set the format for displaying an address.
                        The number of the address element separated with s (whitespace) or n (newline), e.g.:
                        - a DE Parcel Shop has format1: csbnan7s8n2s3 and format2: csbn2s3n1.
                        - a Parcel Europe Parcelshop has format1: csbnan7s8n2s3 and format2: csbn7s8n2s3n1
                        The format is used for displaying the address.
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="addressFormat">
                        <xs:maxLength value="16" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="format2" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Set the format for displaying an address in shortened form.
                        The character of the address element separated with s (whitespace) or n (newline), e.g. 4n7s8n2s3 for a german address.
                        The format is used for label printing.
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="addressFormat">
                        <xs:maxLength value="16" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="routingCode" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>40 digit Routing Code (german feature "Leitcode")</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="40" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="keyWord" minOccurs="1">
                <xs:annotation>
                    <xs:documentation>long form of the shopType; e.g.: DHL Paketshop. Character for format string: c</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="35" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="parcelLocations">
        <xs:annotation>
            <xs:documentation>root element</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="header" type="header" />
                <xs:element name="data">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="parcelLocation" minOccurs="0" maxOccurs="100000">
                                <xs:annotation>
                                    <xs:documentation>Parcel location, up to 100.000 entries allowed.</xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="address" type="address" minOccurs="1" maxOccurs="1" />
                                        <xs:element name="partnerType" type="partnerType" minOccurs="1" maxOccurs="1" />
                                        <xs:element name="shopType" type="shopType" minOccurs="1" maxOccurs="1" />
                                        <xs:element name="shopName" minOccurs="0" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:documentation>
                                                    The name of the shop, that is displayed on the DHL Finder Frontend; examples: Toto Lotto, Lidl, John´s barbershop.
                                                    In the web interface the name will be shortened to 20 characters.
                                                    Character for format string: a
                                                </xs:documentation>
                                            </xs:annotation>
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:minLength value="0" />
                                                    <xs:maxLength value="35" />
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="geoPosition" type="geoPosition" minOccurs="1" maxOccurs="1" />
                                        <xs:element name="identifyingKeys" type="IDS" minOccurs="1" maxOccurs="1" />
                                        <xs:element name="welcomeTexts" minOccurs="0" maxOccurs="1">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="welcomeText" type="welcomeTextType" minOccurs="0" maxOccurs="20">
                                                        <xs:annotation>
                                                            <xs:documentation>No more relevance for frontend.</xs:documentation>
                                                        </xs:annotation>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="services" type="complexTypeService" minOccurs="0" maxOccurs="1">
                                            <xs:unique name="serviceUnique">
                                                <xs:selector xpath="service"/>
                                                <xs:field xpath="."/>
                                            </xs:unique>
                                        </xs:element>
                                        <xs:element name="timeinfos" minOccurs="0" maxOccurs="1">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="timeinfo" type="openingHours" maxOccurs="140" />
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="closurePeriods" minOccurs="0" maxOccurs="1">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="closurePeriod" minOccurs="0" maxOccurs="500">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="type" type="closurePeriodType" minOccurs="1" maxOccurs="1" />
                                                                <xs:element name="fromDate" type="xs:date" minOccurs="1" maxOccurs="1" />
                                                                <xs:element name="toDate" type="xs:date" minOccurs="0" maxOccurs="1" />
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="primaryLanguage" type="language" minOccurs="1" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:documentation>The primary spoken language of the shop</xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="secondaryLanguage" type="language" minOccurs="0" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:documentation>(Optional) The secondary spoken language of the shop</xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="tertiaryLanguage" type="language" minOccurs="0" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:documentation>(Optional) The tertiary spoken language of the shop</xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="otherInfos" minOccurs="0" maxOccurs="1">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="otherInfo" type="otherInfoType" minOccurs="0" maxOccurs="40" />
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="foreignKeys" minOccurs="0" maxOccurs="1">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="foreignKey" type="foreignKeyType" minOccurs="0" maxOccurs="20" />
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="files" minOccurs="0" maxOccurs="1">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="file" type="complexTypeFiles" minOccurs="0" maxOccurs="40" />
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>